package ${entityPackage};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Builder;
import lombok.Data;
#if($tableInfo.hasDateType())
import java.util.Date;
#end

@Data
@Builder
@ApiModel("#if($!tableInfo.remarks =='')${tableInfo.name}#else${tableInfo.remarks)#end")
public class ${entityClassName} {
    #foreach($col in $tableInfo.columns)
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
    @ApiModelProperty("$!col.remarks")
    #else
    @ApiModelProperty(value = "$!col.remarks", hidden = true)
    #end
    #end
    private $col.javaType $_nameString.toPropertyName("${col.name}");

    #end
}