package ${entityPackage};

import lombok.Data;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if($entityCols.length>0)
import plugin.BaseEntity;
#end
#if($tableInfo.hasDateType())
import java.util.Date;
#end
#if($tableInfo.hasTimestampType())
import java.sql.Timestamp;
#end

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
#if($!tableInfo.remarks =='')
@ApiModel("$!{tableInfo.name}")
#else
@ApiModel("$!{tableInfo.remarks}")
#end
public class ${entityClassName} #if($entityCols.length>0) extends BaseEntity #end{
    #foreach($col in $tableInfo.columns)
        #if(!$entityCols.contains($col.name))
            #if("" != "$!col.remarks")
            /**
            * $!col.remarks
            */
            #end
            #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
                @ApiModelProperty("$_stringUtil.firstLine($!{col.remarks})")
            #else
                @ApiModelProperty(value = "$_stringUtil.firstLine($!{col.remarks})", hidden = true)
            #end
            private $col.javaType $_name.toPropertyName("${col.name}");
        #end
    #end
}