package ${entityPackage};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if($tableInfo.hasDateType())
import java.util.Date;
#end

@Data
#if($!tableInfo.remarks =='')
@ApiModel("$!{tableInfo.name}")
#else
@ApiModel("$!{tableInfo.remarks}")
#end
public class ${entityClassName} #if(${entityCols.size()}>0) extends BaseEntity #end{
    #foreach($col in $tableInfo.columns)
    #if(!$entityCols.contains($col.name))
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
    @ApiModelProperty("$!col.remarks")
    #else
    @ApiModelProperty(value = "$!col.remarks", hidden = true)
    #end
    #end
    private $col.javaType $_nameString.toPropertyName("${col.name}");
    #end
    #end
}