package ${mapperPackage};
#if("$!{tableInfo.autoIncrementField}"!="")
import org.apache.ibatis.annotations.Options;
#end
import org.apache.ibatis.annotations.*;
import ${entityPackage}.${entityClassName};
import java.util.List;

/**
 * ${tableInfo.name} - ${tableInfo.remarks}
 **/
@Mapper
public interface ${entityClassName}Mapper {
    #set($fin=0)
    #set($fin2=0)
    #if("$!{tableInfo.autoIncrementField}"!="")
@Insert("INSERT INTO ${tableInfo.name}(#foreach($col in $tableInfo.insertColumns)#if(!$col.autoIncrement)#if($fin>0),#else#set($fin = 1)#end`${col.name}`#end#end)" +
    "VALUES(#foreach($col in $tableInfo.columns)#if(!$col.autoIncrement)#if($fin2>0),#else#set($fin2 = 1)#end#{$_nameString.toPropertyName("${col.name}")}#end#end)")
    @Options(useGeneratedKeys = true)
    long insert(${entityClassName} entity);
    #else
@Insert("INSERT INTO ${tableInfo.name}(#foreach($col in $tableInfo.insertColumns) `${col.name}`#if(${foreach.index}!=0),#end#end)" +
    "VALUES(#foreach($col in $tableInfo.columns) #{$_nameString.toPropertyName("${col.name}")} #if(${foreach.index}!=0),#end#end)")
    void insert(${entityClassName} entity);
    #end
    /** 批量插入 */
    #set($fin=0)
    #set($fin2=0)
@Insert("<script> " +
"INSERT INTO ${tableInfo.name}(#foreach($col in $tableInfo.insertColumns)#if(!$col.autoIncrement)#if($fin>0),#else#set($fin = 1)#end`${col.name}`#end#end) VALUES " +
"<foreach collection ='entities' item='item' separator =','>" +
"(#foreach($col in $tableInfo.columns)#if(!$col.autoIncrement)#if($fin2>0),#else#set($fin2 = 1)#end#{$_nameString.toPropertyName("${col.name}")}#end#end)" +
"</foreach>" +
"</script>")
void insertBatch(List<${entityClassName}> entities);
#set($inx=0)
@Update({"<script>",
"UPDATE ${tableInfo.name} SET#foreach($col in $tableInfo.updateColumns)#if(!$tableInfo.pkNames.contains(${col.name}))#if($inx>0),#else#set($inx = 1)#end `${col.name}`=#{$_nameString.toPropertyName("${col.name}")}#end#end " +
"WHERE #foreach($pkName in $tableInfo.pkNames)#if(${foreach.index}!=0),#end `$pkName` = #{$_nameString.toPropertyName(${pkName})}#end",
    "</script>" })
    int update(${entityClassName} entity);

@Select("SELECT * FROM ${tableInfo.name} WHERE #foreach($pkName in $tableInfo.pkNames) #if(${foreach.index}!=0),#end `$pkName` = #{$_nameString.toPropertyName(${pkName})}#end limit 1")
${entityClassName} selectByPrimaryKey(#foreach($pkColumn in $tableInfo.pkColumns) #if(${foreach.index}!=0),#end @Param("$_nameString.toPropertyName(${pkColumn.name})") ${pkColumn.javaType} $_nameString.toPropertyName(${pkColumn.name}) #end);


}