package ${paramPackage};

import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if($tableInfo.hasDateType())
import java.util.Date;
#end
#if($tableInfo.hasTimestampType())
import java.sql.Timestamp;
#end
import ${entityPackage}.${entityClassName};

@Data
#if($!tableInfo.remarks =='')
@ApiModel("$!{tableInfo.name}")
#else
@ApiModel("$!{tableInfo.remarks}")
#end
public class ${entityClassName}Param {
    #foreach($col in $tableInfo.columns)
        #if(!$entityCols.contains($col.name))
            #if("" != "$!col.remarks")
            /**
            * $!col.remarks
            */
            #end
            #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
                @ApiModelProperty("$_stringUtil.firstLine($!{col.remarks})")
            #else
                @ApiModelProperty(value = "$_stringUtil.firstLine($!{col.remarks})", hidden = true)
            #end
            private $col.javaType $_name.toPropertyName("${col.name}");
        #end
    #end

    /**
    * param字段是entity的子集
    */
    public ${entityClassName} toEntity(${entityClassName}Param param) {
        return ${entityClassName}.builder()
    #foreach($col in $tableInfo.columns)
        #if(!$entityCols.contains($col.name))
            #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
                .${_name.toPropertyName("${col.name}")}(param.get${_name.toClassName("${col.name}")}())
            #end
        #end
    #end
        .build();
    }
}
