package ${entityPackage};

import plugin.Pager;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if($tableInfo.hasDateTypeOfIndex())
import java.util.Date;
#end

@Data
public class ${entityClassName}Query {
    #foreach($col in $tableInfo.indexColumns)
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    @ApiModelProperty("$!col.remarks")
    #end
    private $col.javaType $_nameString.toPropertyName("${col.name}");

    #end
    
  #if($tableInfo.indexColumns.size() >1)
    /**
   * 分页
   */
   @ApiModelProperty("分页查询参数")
  private Pager pager;
  #end
}