package ${queryPackage};

import plugin.Pager;
import io.swagger.annotations.ApiModelProperty;
import lombok.Builder;
import lombok.Data;
#if($tableInfo.hasDateTypeOfIndex())
import java.util.Date;
#end

/**
 * ${tableInfo.remarks} - 查询条件 - 默认包含所有的索引字段和分页参数
 **/
@Data
@Builder
public class ${entityClassName}Query {
    #foreach($col in $tableInfo.indexColumns)
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    @ApiModelProperty("$!col.remarks")
    #end
    private $col.javaType $_name.toPropertyName("${col.name}");

    #end
    
  #if($tableInfo.indexColumns.size() >1)
    /**
   * 分页
   */
   @ApiModelProperty("分页查询参数")
  private Pager pager;

  public Pager getPager(){
    if(null == pager) {
        pager = Pager.defaultPager();
    }
    return pager;
  }
  #end
}