package ${mapperPackage};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.*;
import ${modelPackage}.${modelClassName};

@Mapper
public interface ${modelClassName}Mapper extends BaseMapper<${modelClassName}> {

}