package ${modelPackage};

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if($table.hasDateType())
import java.util.Date;
#end

@TableName("${table.name}")
@ApiModel("${table.remarks}")
@Data
public class ${modelClassName} {
    #foreach($col in $table.columns)
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    @ApiModelProperty("$!col.remarks")
    #end
    private $col.javaType $_nameString.toPropertyName("${col.name}");

    #end
}