package ${basePackage};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.context.properties.EnableConfigurationProperties;

/**
 * @Description: 启动类
 **/
@EnableConfigurationProperties
@MapperScan({"${mapperPackage}"})
@SpringBootApplication(scanBasePackages = {"${basePackage}"})
public class ${_name.toClassName2("${basePackage}")}Application {
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }
}