package ${entityPackage};

import hu.jinfeng.mybatis.provider.Entity;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if($tableInfo.hasDateType())
import java.util.Date;
#end

@Data
@ApiModel("${tableInfo.remarks}")
@Entity(table = "${tableInfo.name}", primaryKey = "${tableInfo.pkName}")
public class ${entityClassName} {
    #foreach($col in $tableInfo.columns)
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    @ApiModelProperty("$!col.remarks")
    #end
    private $col.javaType $_name.toPropertyName("${col.name}");

    #end
}