package ${mapperPackage};

//import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import hu.jinfeng.mybatis.provider.GeneralProvider;
import org.apache.ibatis.annotations.InsertProvider;
import org.apache.ibatis.annotations.Options;
import org.apache.ibatis.annotations.*;
import ${entityPackage}.${entityClassName};

/**
 * ${tableInfo.name} - ${tableInfo.remarks}
 **/
@Mapper
public interface ${entityClassName}Mapper /** extends BaseMapper<${entityClassName}>*/ {

    @InsertProvider(type = GeneralProvider.class, method = "insertSQL")
    @Options(useGeneratedKeys = true)
    long insert(${entityClassName} entity);

    @UpdateProvider(type = GeneralProvider.class, method = "updateSQL")
    int update(${entityClassName} entity);
#set($pkJavaName = $_nameString.toPropertyName(${tableInfo.pkColumn.name}))

    @Select("SELECT * FROM ${tableInfo.name} WHERE ${tableInfo.pkColumn.name}=#{${pkJavaName}} limit 1")
    ${entityClassName} selectById(@Param("${pkJavaName}") ${tableInfo.pkColumn.javaType} ${pkJavaName});
}