package ${paramPackage};

import lombok.Data;
#if($_useSwagger)
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if($tableInfo.hasDateType())
import java.util.Date;
#end
#if($tableInfo.hasTimestampType())
import java.sql.Timestamp;
#end
import ${entityPackage}.${entityClassName};

@Data
#if($_useSwagger)
#if($!tableInfo.remarks =='')
@ApiModel("$!{tableInfo.name}")
#else
@ApiModel("$!{tableInfo.remarks}")
#end
#end
public class ${baseClassName}Param {
    #foreach($col in $tableInfo.columns)
        #if(!$entityCols.contains($col.name))
            #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
            #if("" != "$!col.remarks")
            /**
            * $!col.remarks
            */
            #end
            #if($_useSwagger)
                @ApiModelProperty("$_stringUtil.firstLine($!{col.remarks})")
            #end
            private $col.javaType $_nameUtils.toPropertyName("${col.name}");
            #end
        #end
    #end

    /**
    * param字段是entity的子集
    */
    public ${entityClassName} to${entityClassName}() {
        return ${entityClassName}.builder()
    #foreach($col in $tableInfo.columns)
        #if(!$entityCols.contains($col.name))
            #if($tableInfo.insertColumns.contains($col) || $tableInfo.updateColumns.contains($col))
                .${_nameUtils.toPropertyName("${col.name}")}(this.get${_nameUtils.toClassName("${col.name}")}())
            #end
        #end
    #end
        .build();
    }
}
