package ${queryPackage};

import plugin.Pager;
#if($_useSwagger)
import io.swagger.annotations.ApiModelProperty;
#end
import lombok.Data;
import lombok.Builder;
#if($tableInfo.hasDateInIndex())
import java.util.Date;
#end
#if($tableInfo.hasTimestampInIndex())
import java.sql.Timestamp;
#end

/**
 * ${tableInfo.remarks} - 查询条件 - 默认包含所有的索引字段和分页参数
 **/
@Data
@Builder
public class ${entityClassName}Query {
    #foreach($col in $tableInfo.getAllIndexColumns())
    /**
        * $!col.remarks
        */
    #if($_useSwagger)
    @ApiModelProperty("$_stringUtil.firstLine($!{col.remarks})")
    #end
    private $col.javaType $_name.toPropertyName("${col.name}");

    #end
    
  #if($tableInfo.allIndexColumns.size() >1)
    /**
   * 分页
   */
   #if($_useSwagger)
   @ApiModelProperty("分页查询参数")
   #end
  private Pager pager;

  public Pager getPager(){
    if(null == pager) {
        pager = Pager.defaultPager();
    }
    return pager;
  }
  #end
}