package ${repositoryPackage};

#set($mapperClassName = "${entityClassName}Mapper")
#set($repositoryClassName = "${entityClassName}Repository")
import ${entityPackage}.${entityClassName};
#if($tableInfo.indexColumns.size() >1)
import ${queryPackage}.${entityClassName}Query;
#end
import ${mapperPackage}.${mapperClassName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import java.util.List;

/**
 * ${tableInfo.remarks} - 简单的数据操作逻辑 (按需自行修改)
 **/
@Component
public class ${repositoryClassName} {
    #set($mapper = $_nameString.classNameToPropertyName(${mapperClassName}))
    @Autowired
    private $mapperClassName $mapper;

/**
* 插入
**/
  public void insert(${entityClassName} entity) {
    ${mapper}.insert(entity);
  }

    /**
     * 批量插入
     */
    public void insertBatch(List<${entityClassName}> entities) {
        ${mapper}.insertBatch(entities);
    }

    /**
     * 更新记录 - 所有字段
     */
    public int update(${entityClassName} entity) {
        return ${mapper}.update(entity);
    }

    /**
    * 更新有值的字段
    */
    public int updateSelective(${entityClassName} entity) {
        return ${mapper}.updateSelective(entity);
    }

    /**
     * PrimaryKey查询
     */
    public ${entityClassName} selectByPrimaryKey(#foreach($pkColumn in $tableInfo.pkColumns) #if(${foreach.index}!=0),#end ${pkColumn.javaType} $_nameString.toPropertyName(${pkColumn.name}) #end){
        return ${mapper}.selectByPrimaryKey(#foreach($pkColumn in $tableInfo.pkColumns) #if(${foreach.index}!=0),#end $_nameString.toPropertyName(${pkColumn.name}) #end);
    }

#if($tableInfo.indexColumns.size() >1)
    /**
     * 分页查询
     **/
    public List<${entityClassName}> queryWithPaging(${entityClassName}Query query) {
        query.getPager().calculateStartAndEndRow();
        return ${mapper}.queryWithPaging(query);
    }
#end
}