package ${modelPackage};

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if($tableInfo.hasDateType())
import java.util.Date;
#end

@TableName("${tableInfo.name}")
@ApiModel("${tableInfo.remarks}")
@Data
public class ${modelClassName} {
    #foreach($col in $tableInfo.columns)
    /**
        * $!col.remarks
        */
    #if("" != "$!col.remarks")
    @ApiModelProperty("$!col.remarks")
    #end
    private $col.javaType $_nameString.toPropertyName("${col.name}");

    #end
}